<!DOCTYPE html>
<html ng-app="sampleApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular DataTables Server Side Processing</title>

    <link rel="stylesheet" href="thirdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="thirdparty/css/datatables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/css/angular-datatables.min.css">
    <style>
        .dataTables_filter{
            display:none;
        }
    </style>

    <script src="thirdparty/js/jquery.min.js"></script>
    <script src="//code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="thirdparty/js/angular-datatables.bootstrap.js"></script>
    <script src="thirdparty/js/angular-datatables.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body ng-controller="MyController">

<div class="row" ng-app="tagApp" ng-controller="MyController">
    <div class="panel-body">
        <div class="row" style="margin-bottom: 15px;">
            <div class="form-group">
                <div id="searchForm" class="col-md-10">
                    <div class="col-md-4">
                        <input id="search-id" type="text" placeholder="Search Id" name="id" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input id="search-fname" type="text" placeholder="Search First Name" name="firstname" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input id="search-lname" type="text" placeholder="Search Last Name" name="lastname" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="searchData" class="btn btn-submit" ng-click="dataSearch()">Search</button>
                    <button id="clearSearch" class="btn btn-submit" ng-click="clearSearch()">Clear</button>
                </div>
            </div>
        </div>
        <div id="datatable" class="dataTables_wrapper no-footer">
            <div class="row">
                <div class="col-sm-12 ">
                    <table id="" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed row-border hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
